@model dynamic

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="@Url.Action("Index", "Home")">DiceRoller2000</a>
            </div>
        </div>

        <div class="navbar-collapse" id="navbar-collapse-1" aria-collapsed="false">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</nav>