@model DiceRoller.Web.Models.Room.IndexVm

@section scripts
{
    <script src="/lib/knockout/dist/knockout.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/js/dice.js"></script>
}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Room @Model.RoomId</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        @*Player list*@
        Players
        <ul data-bind="foreach: players" class="player-list">
            <li>
                <span data-bind="text: $data"></span>
            </li>
        </ul>
    </div>

    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12">
                @* Dice rolling area*@
                <div class="well dice-rolling-area">
                    Roll some dice!
                    <ul class="roll-results" data-bind="foreach: rollResults">
                        <li>
                            <span class="roll-result" data-bind="text: $data"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Selected Dice (<span data-bind="text: playerRolling"></span>)
                    <ul class="selected-dice" data-bind="foreach: selectedDice">
                        <li>
                            <span class="die" data-bind="text: $data.Die, attr:{'data-die': $data.Die}, click: $parent.dieRemoveClicked"></span>
                        </li>
                    </ul>

                    <button class="btn btn-info" type="button", data-bind="click: dieRollClicked">Roll</button>
                </div>
                <div class="col-sm-12">
                    My Dice
                    <ul class="selected-dice" data-bind="foreach: mySelectedDice">
                        <li>
                            <span class="die" data-bind="text: $data.Die, attr:{'data-die': $data.Die}, click: $parent.dieRemoveClicked"></span>
                        </li>
                    </ul>

                    <!--button class="btn btn-info" type="button">Roll</button-->
                </div>

            </div>
        </div>

    </div>

    <div class="col-sm-2">
        @* Available dice area*@
        Dice
        <ul data-bind="foreach: availableDice" class="dice-list">
            <li>
                <div class="die" data-bind="text: $data, attr:{'data-die': $data}, click: $parent.dieClicked"></div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @* Console *@

        <textarea id="consoleMessages" readonly class="message-console"></textarea>
    </div>
</div>


@section body_scripts
{
    <script src="/js/dicePage.js"></script>
    <script>
        $(document).ready(function() {
            dicePage.init("@Model.RoomId", "@Model.Player");
        });
    </script>
}
