@model DiceRoller.Web.Models.Room.IndexVm

@section scripts
{
    <script src="/lib/knockout/dist/knockout.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/js/dice.js"></script>
}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Room @Model.RoomId</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        @*Player list*@
        Players
        <ul data-bind="foreach: players" class="player-list">
            <li>
                <span data-bind="text: $data"></span>
            </li>
        </ul>
    </div>
    
    <div class="col-sm-8">
        @* Dice rolling area*@
        <div class="well dice-rolling-area">
            Roll some dice!
        </div>
    </div>

    <div class="col-sm-2">
        @* Dice select area*@
        Dice select area
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @* Console *@
        
        <textarea id="consoleMessages" readonly class="message-console"></textarea>
    </div>
</div>


@section body_scripts
{
    <script src="/js/dicePage.js"></script>
    <script>
        dicePage.init("@Model.RoomId", "@Model.Player");
    </script>
}
