@import "../wwwroot/lib/bootstrap/less/bootstrap.less";
@import "darkly_variables.less";
@import "darkly_bootswatch.less";

@dice-base: @brand-info;

body {
    padding-top: 75px;
}

@keyframes error-pulse {
    from {
        box-shadow: 0 0 0px @brand-danger
    }

    to {
        box-shadow: 0 0 20px @brand-danger
    }
}

.form-control.error-highlight, .form-control.error-highlight:focus {
    animation-name: error-pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

textarea.message-console{
    width:100%;
    height: 100px;
}

div.dice-rolling-area{
    min-height: 400px;
}

ul.player-list{
    .list-unstyled;
}

ul.player-list > li{
    color: @brand-info;
}

// The available dice list
ul.dice-list{
    .list-unstyled;
}

ul.dice-list .die {
    cursor: copy;
}

// The selected dice list
ul.selected-dice {
    .list-unstyled;
    .list-inline
}

ul.selected-dice .die {
    cursor: pointer;
}


.die-base {
    color: @dice-base;
    display: block;
    width:120px;
    height: 130px;
}

// Dice appearances
.die[data-die='d4'] {
    .die-base;
    background: url("/img/d4.png") center no-repeat @gray-dark;
}

.die[data-die='d6'] {
    .die-base;
    background: url("/img/d6.png") center no-repeat @gray-dark;
}

.die[data-die='d8'] {
    .die-base;
    background: url("/img/d8.png") center no-repeat @gray-dark;
}

.die[data-die='d10'] {
    .die-base;
    background: url("/img/d10.png") center no-repeat @gray-dark;
}

.die[data-die='d12'] {
    .die-base;
    background: url("/img/d12.png") center no-repeat @gray-dark;
}

.die[data-die='d20'] {
    .die-base;
    background: url("/img/d20.png") center no-repeat @gray-dark;
}

.die[data-die='d100'] {
    .die-base;
    background: url("/img/d100.png") center no-repeat @gray-dark;
    height: 95px + 20px;
}
