@import "../wwwroot/lib/bootstrap/less/bootstrap.less";
@import "darkly_variables.less";
@import "darkly_bootswatch.less";

@dice-base: #035f0f;

body {
    padding-top: 75px;
}

@keyframes error-pulse {
    from {
        box-shadow: 0 0 0px @brand-danger
    }

    to {
        box-shadow: 0 0 20px @brand-danger
    }
}

.form-control.error-highlight, .form-control.error-highlight:focus {
    animation-name: error-pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

textarea.message-console{
    width:100%;
    height: 100px;
}

div.dice-rolling-area{
    min-height: 400px;
}

ul.player-list{
    .list-unstyled;
}

ul.player-list > li{
    color: @brand-info;
}

// The available dice list
ul.dice-list{
    .list-unstyled;
}

ul.dice-list .die {
    cursor: copy;
}

// The selected dice list
ul.selected-dice {
    .list-unstyled;
    .list-inline
}

ul.selected-dice .die {
    cursor: pointer;
}


// Dice appearances
.die[data-die='d4'] {
    color: @dice-base;
}

.die[data-die='d6'] {
    color: lighten(@dice-base, 10%);
}

.die[data-die='d8'] {
    color: lighten(@dice-base, 20%);
}

.die[data-die='d12'] {
    color: lighten(@dice-base, 30%);
}

.die[data-die='d20'] {
    color: lighten(@dice-base, 40%);
}

.die[data-die='d100'] {
    color: lighten(@dice-base, 50%);
}
